.a{
display:flex;
width:100%;
height:60px;
background-color:black
}
.b1{
height:50px;
width:80px;
margin-left:40px;
margin-top:7px
}

.c1{
height:50px;
width:40px;
margin:5px;
}

.e1{
height:50px;
width:80px;
color:black;
background-color:yellow
}
.search{
height:40px;
width:600px;
margin:10px
}
.btn
{
height:40px;
width:80px;
background-color:yellow;
margin-left:0px
}
.d{
color:white;
margin-right:40px
}
.f{
display:flex
}
.f1{
margin-left:40px;
margin-top:20px;
margin-left:40px
}
.f2{
width:40px;
background-color:black;
color:white;
margin-top:10px
height:20px;
border-color:black
}
.g{
color:white;
margin-left:30px
}
.h{
color:white;
margin-left:30px;
margin-top:20px
}
.i{
margin-left:30px;
margin-top:5px;
}
.i1{
color:white;
margin-top:20px
}
.j{
background-color:gray;
display:flex;
height:40px;
width:100%
}
.j1{
color:white;
margin-left:100px;
margin-top:10px
}
.j2{
color:white;
margin-left:50px;
margin-top:10px
}
.j3{
color:white;
margin-left:50px;
margin-top:10px
}
.j4{
color:white;
margin-left:50px;
margin-top:10px
}
.j5{
color:white;
margin-left:50px;
margin-top:10px
}
.j6{
color:white;
margin-left:50px;
margin-top:10px
}
.j7{
color:white;
margin-left:600px;
margin-top:10px
}
.j1 a{
text-decoration:none;
color:white
}
.j2 a{
text-decoration:none;
color:white
}

.j3 a{
text-decoration:none;
color:white
}

.j4 a{
text-decoration:none;
color:white
}

.j5 a{
text-decoration:none;
color:white
}

.j6 a{
text-decoration:none;
color:white
}

.j7 a{
text-decoration:none;
color:white
}
.g a{
text-decoration:none;
color:white
}
.h a{
text-decoration:none;
color:white
}
.i1 a{
text-decoration:none;
color:white
}
.l{
display:flex;
width:100%;
height:300px
}
.l1{
margin:40px
}
.l2{
margin:40px;
}
.l3{
margin:40px
}
.l4{
margin:40px
}
.o{
display:flex;
width:100%;
height:300px
}
.o1{
margin:40px
}
.o2{
margin:40px
}
.o3{
margin:40px
}
.o4{
margin:40px
}
.r{
background-color:gray;
height:30px;
width:100%;
color:white;
margin-top:5px;
}
.r a{
text-decoration:none;
color:white
}
.s{
background-color:black;
height:250px;
width:100%;
display:flex
}
.s1
{
color:white;
margin-left:150px
}
.s2
{
color:white;
margin-left:150px
}
.s3
{
color:white;
margin-left:150px
}
.s4
{
color:white;
margin-left:150px
}

.t{
background-color:black;
height:50px;
width:100%
}
.u{
background-color:black;
height:50px;
width:100%;
color:white
}



